
<!-- Main Home View -->
<div namespace class="snap-mandatory-container">
    
    <script type="subscript">
        let app = document.state;
        if (app.page.nav) {
            var nav = app.page.nav;
            if (app.page.project) {
                $(this.namespace.project_outline_see_all).class('d-none', false);
                $(this.namespace.project_npm).html('@webqit/' + app.page.project.name);
                $(this.namespace.app_bar_title).html('@webqit/' + app.page.project.name);
                $(this.namespace.app_bar_back).attr('href', '/tooling');
                $(this.namespace.project_npm).attr('href', 'https://npmjs.com/package/@webqit/' + app.page.project.name);
                $(this.namespace.project_github).attr('href', 'https://github.com/webqit/' + app.page.project.name);
                nav = app.page.nav.items.filter(n => n.name === 'tooling')[0].subtree;
            } else {
                $(this.namespace.project_outline_see_all).class('d-none', true);
                $(this.namespace.app_bar_title).html('WebQit Tooling');
                $(this.namespace.app_bar_back).attr('href', '/');
            }
            $(this.namespace.project_links).class('d-none', !app.page.project);
            $(this.namespace.edit_link).attr('href', 'https://github.com/webqit/webqit.docs/edit/master/' + document.state.url.pathname.replace('/tooling/', '') + '/README.md');
            $(this.namespace.project_outline).itemize(nav.items);
        }
        // ----------
        if (app.page.breadcrumb) {
            var currentPage = app.page.breadcrumb[app.page.breadcrumb.length - 1];
            $(this.namespace.page_outline).itemize(currentPage.outline || {});
            this.namespace.breadcrumb.setState({items: app.page.breadcrumb});
            // ----------
            $(this.namespace.nav).class('d-none', false);
            $(this.namespace.nav_left).attr('href', currentPage.prev ? currentPage.prev.path : '#');
            $(this.namespace.nav_left).attr('title', currentPage.prev ? 'Previous: ' + currentPage.prev.title : '');
            $(this.namespace.nav_left).class('disabled', !currentPage.prev);
            $(this.namespace.nav_right).attr('href', currentPage.next ? currentPage.next.path : '#');
            $(this.namespace.nav_right).attr('title', currentPage.next ? 'Next: ' + currentPage.next.title : '');
            $(this.namespace.nav_right).class('disabled', !currentPage.next);
        }
        // ----------
        $(this.namespace.app_drawer_open).on('click', () => toggleDrawer(this.namespace.app_drawer, this.namespace.main_backdrop, true, 'md'));
        $(this.namespace.main_backdrop).on('click', () => toggleDrawer(this.namespace.app_drawer, this.namespace.main_backdrop, false, 'md'));
        // ----------
        $(this.namespace.page_outline_control).on('click', () => $(this.namespace.page_outline_container).class('sm--d-none', false));
        $(this.namespace.page_readme_container).on('focusin', () => $(this.namespace.page_outline_container).class('sm--d-none', true));
    </script>
    
    <div class="flex-y-start">
            
        <div class="col-3 md--col-0 pos-sticky offset-top-0" style="z-index: 100;">

            <div data-id="app_drawer" class="flex-y-stretch overflow-hidden" style="height: 100vh; max-width: 70vw; background-color: ghostwhite;">

                <div class="wt-full pd-10 pd-x2 pd-btm-0 d-flex flex-column">

                    <div class="app-bar pd-10 mg-btm-10 overflow-x-hidden">
                        <html-import name="logo_nav" template="brand" class="wt-auto"></html-import>
                    </div>
                    <div class="pd-lft-10 pd-rt-10">
                        <ul class="pd-8 flex-y-center list-style-none" style="border-bottom: 1px solid silver;">
                            <li>
                                <a href="/tooling" title="Tooling" class="icon-webqit-tooling active pd-4 d-inline-block color-1" style="background-color: white;">
                                    <i class="bi bi-braces sm flex-center pd-6"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/cloud" title="Cloud" class="icon-webqit-cloud pd-4 d-inline-block">
                                    <i class="bi bi-cloud sm flex-center pd-6" class=""></i>
                                </a>
                            </li>
                            <li>
                                <a href="/community" title="Community" class="icon-webqit-community pd-4 d-inline-block">
                                    <i class="bi bi-flag sm flex-center pd-6"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="pd-10 col-grows overflow-y-auto">
                        <ul data-id="project_outline" template="page/tooling/#layout/project-outline" class="project-outline list-style-none">
                            <li data-id="project_outline_see_all" class="pd-top-6 pd-btm-6 flex-y-center d-none">
                                <span data-id="subtree_notch" class="flex-y-center pd-rt-4">
                                    <i data-id="subtree_icon" class="bi bi-chevron-left flex-center xs"></i>
                                </span>
                                <a data-id="link" href="/tooling" class="col-grows">
                                    All
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div data-id="project_links" class="pd-10 b i flex-y-center flex-x-separate d-none">
                        <a data-id="project_npm" href="" target="_blank"></a>
                        <a data-id="project_github" href="" target="_blank">
                            <i class="bi bi-github xs"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <main class="col-grows md--col-12 flex-y-start flex-wrap">

            <div data-id="main_backdrop" class="pos-abs cover d-none" style="background-color: rgba(0, 0, 0, 0.125);; z-index: 75"></div>

            <div class="app-bar-alt col-12 pd-10 pd-x2 flex-y-center flex-x-separate d-none md--d-flex" style="background-color: ghostwhite;">
                <div class="flex-y-center">
                    <a data-id="app_bar_back" href="/tooling" class="b">
                        <i class="bi bi-chevron-left sm flex-center"></i>
                    </a>
                    <h3 data-id="app_bar_title" class="mg-lft-10"></h3>
                </div>
                <div class="flex-y-center">
                    <div data-id="app_drawer_open" class="flex-center b cursor-pointer">
                        <i class="bi bi-filter-right"></i>
                    </div>
                </div>
            </div>
        
            <div data-id="page_readme_container" class="readme-container col-9 sm--col-12 overflow-x-hidden" tabindex="0">

                <div namespace data-id="breadcrumb" class="col-grows" style="z-index: 50;">
                    <ul data-id="main" template="page/tooling/#layout/breadcrumb" class="d-inline-flex flex-y-stretch h5 list-style-none" style="white-space: nowrap;">
                        <li namespace class="flex-y-center">
                            <a data-id="link" class="pd-6 pd-lft-0 no-wrap" href="/">
                                <i class="bi bi-house-door xs"></i>
                            </a>
                        </li>
                        <li data-id="overflow" namespace class="overflow-notch d-none" tabindex="0">
                            <div class="ht-full flex-y-center">
                                <i class="bi bi-slash xs"></i>
                                <i class="bi bi-three-dots xs cursor-pointer"></i>
                            </div>
                            <div class="overflow ht-0 flex-x-start">
                                <ul data-id="list" template="page/tooling/#layout/breadcrumb" class="overflow-list pos-abs animation-x-fast anim-fly-top-small list-style-none"></ul>
                            </div>
                        </li>
                        <li data-id="subtree" namespace class="overflow-notch d-none" tabindex="0">
                            <div class="ht-full flex-y-center cursor-pointer">
                                <i class="bi bi-caret-down xs flex-y-center"></i>
                            </div>
                            <div class="overflow ht-0 flex-x-end">
                                <ul data-id="list" template="page/tooling/#layout/breadcrumb" class="overflow-list pos-abs pd-top-8 pd-btm-8 radius-4 drop-shadow animation-x-fast anim-fly-top-small list-style-none"></ul>
                            </div>
                        </li>
                    </ul>
                    <script type="subscript">
                        var main = this.namespace.main;
                        var overflowNotch = this.namespace.overflow;
                        var overflowList = overflowNotch.namespace.list;
                        var subtreeNotch = this.namespace.subtree;
                        var subtreeList = subtreeNotch.namespace.list;
                        if (this.state.items) {
                            $(overflowNotch).class('d-none', true);
                            $(subtreeNotch).class('d-none', false);
                            $(main).itemize(this.state.items, (e, el, d, k) => {
                                d.overflowCollapsed = false;
                                if (k === this.state.items.length - 1) {
                                    $(subtreeList).itemize(d.subtree.items, null, null, {itemExportId: 'subtree'});
                                    main.append(subtreeNotch);
                                    $(subtreeNotch).class('disabled', !d.subtree);
                                }
                            }, (e, el, d, k, overflowCount) => {
                                d.overflowCollapsed = e === 'collapse';
                                $(overflowNotch).class('d-none', overflowCount === 0);
                            }, {collapsionPoint: 'start'});
                            $(overflowList).itemize(this.state.items, null, null, {itemExportId: 'overflow'});
                        }
                    </script>
                </div>

                <div class="markdown-body" style="min-height: 75vh;">
                    <html-import name="readme" data-id="main">
                        <div class="flex-center" style="height: 85vh;">
                            <div class="pd-10 pd-x2 txt-align-cntr">
                                <i class="bi bi-emoji-smile-upside-down pd-10 flex-center"></i>
                                <span>Not found! </span>
                                <br /><br />
                                (<span>Also, we're gradually rolling out DOCS.</span> <a href="/#waitlist">Get Notified</a>)                            
                            </div>
                        </div>
                    </html-import>
                </div>
                
                <br />
                
                <div class="flex-x-separate">
                    <a data-id="edit_link" href="" target="_blank" class="pd-6 flex-y-center" style="background-color: ghostwhite;">
                        <i class="bi bi-pencil xs pd-4" style="font-size: smaller;"></i>
                        <span class="pd-4">Edit this page on github</span>
                    </a>
                </div>

                <br />

                <footer class="readme-footer pos-sticky offset-btm-0">
                    <ul data-id="nav" class="footer-nav flex-x-separate flex-y-center d-none">
                        <li><a href="" data-id="nav_left"><i class="bi bi-arrow-left sm"></i></a></li>
                        <li><a href="" data-id="nav_right"><i class="bi bi-arrow-right sm"></i></a></li>
                    </ul>
                </footer>
                
            </div>

            <div class="col-3 sm--col-0 sm--flex-x-end pos-sticky offset-top-0 overflow-hidden sm--overflow-visible">
                <div data-id="page_outline_control" class="pos-abs offset-top-10 drop-shadow flex-y-center cursor-pointer d-none sm--d-block" style="background-color: white;">
                    <i class="bi bi-list-nested sm pd-10 d-none sm--d-block"></i>
                </div>
                <div data-id="page_outline_container" class="pos-rel d-flex flex-column col-none pd-10 pd-x2 pd-btm-0 sm--wt-100 sm--wt-x2 sm--pd-10 sm--pd-btm-0 drop-shadow z-index-10 sm--d-none" style="background-color: white; height: 100vh; max-width: 50vw;">
                    <div class="pd-10">
                        <i class="bi bi-list-nested xs flex-center radius-4" style="width: 30px; height: 30px; border: 1px dashed black;"></i>
                    </div>
                    <ul data-id="page_outline" template="page/tooling/#layout/page-outline" class="page-outline col-grows pd-4 overflow-y-auto list-style-none"></ul>
                    <div class="pd-6 flex-y-center flex-x-separate">
                        <a href="#"><i class="bi bi-arrow-up sm"></i></a>
                    </div>
                </div>
            </div>

        </main>

    </div>

</div>

<!-- TEMPLATES -->

<template name="#layout">

    <template name="projects-listing">
        <ul exportgroup="ul" template="page/tooling/#layout/projects-listing" class="pd-0 list-style-none">
            <script type="subscript">
                let app = document.state;
                if (app.page.nav && !app.page.project) {
                    $(this).itemize(app.page.projects);
                }
            </script>
        </ul>
        <li namespace>
            <h3 data-id="title" class="pd-10 pd-top-x3 pd-btm-x3 b txt-sm"></h3>
            <ul data-id="items" play-seq="animIn:fly_bottom; animInAlt:fly_top; duration: 800;" class="pd-0 list-style-none" template="page/tooling/#layout/projects-listing"></ul>
            <script type="subscript">
                if (this.state.title) {
                    $(this.namespace.title).html(this.state.title);
                    $(this.namespace.items).itemize(this.state.items, null, null, {itemExportId: 'project'});
                }
            </script>
        </li>
        <li exportgroup="project" namespace class="flex-y-start flex-wrap pd-10 pd-x2 pd-btm-x3 radius-10 mg-top-10 mg-btm-10" style="background-color: ghostwhite;">
            <div class="pd-lft-10 pd-rt-10 sm--pd-0 mg-rt-10 flex-center">
                <i data-id="icon" class="panel-icon bi lg"></i>
            </div>
            <div class="panel-content col-grows sm--col-12">
                <h3 data-id="title" class="panel-title txt-xl" style="margin-top: 10px"></h3>
                <div data-id="desc" class="panel-desc txt-larger">Coming Soon!</div>
                <div data-id="desc2" class="panel-desc2 txt-larger mg-top-10 mg-top-x2">Coming Soon!</div>
                <a data-id="ctaRef" href="/" class="panel-page mg-top-10 p-d-6 pd-x2 pd-lft-x4 pd-rt-x4 cta radius-6 d-inline-flex flex-y-center" style="text-decoration: none;">
                    <span data-id="cta" class="b">Explore</span>
                    <i data-id="ctaArrow" class="flex-arrow bi bi-arrow-right sm flex-center"></i>
                </a>
            </div>
            <script type="subscript">
                if (!this.state.title) return;
                $(this.namespace.icon).class('bi-' + (this.state.icon || 'square'), true);
                $(this.namespace.title).html(this.state.title);
                $(this.namespace.desc).html(this.state.desc);
                $(this.namespace.desc2).html(this.state.desc2 || '');
                $(this.namespace.ctaRef).attr('href', this.state.ctaRef);
                $(this.namespace.cta).html(this.state.cta);
                //let github = 'https://github.com/' + this.state.repo;
                //$(this.namespace.github).attr('href', github);
            </script>
        </li>
    </template>

    <template name="project-outline">
        <li namespace class="pd-top-6 pd-btm-6">
            <div class="flex-y-center">
                <span data-id="subtree_notch" class="flex-y-center pd-rt-4">
                    <i data-id="subtree_icon" class="bi bi-dot xs" style="font-size: x-small;"></i>
                </span>
                <a data-id="link" href="" class="col-grows flex-y-center flex-x-separate">
                    <span data-id="link_text"></span>
                    <i class="bi bi-chevron-right xs flex-y-center pd-lft-8"></i>
                </a>
            </div>
            <ul data-id="sub_menu" template="page/tooling/#layout/project-outline" class="project-suboutline pd-lft-6 pd-lft-x2 pd-top-4 pd-btm-4 d-none list-style-none"></ul>
            <script type="subscript">
                var activePath = document.state.url.pathname;
                if (this.state.title) {
                    var isActivePath = (activePath + '/').startsWith(this.state.path + '/');
                    $(this.namespace.link).attr('href', this.state.path);
                    $(this.namespace.link_text).html(this.state.title);
                    $(this.namespace.link).class('active', isActivePath);
                    // Auto-active on path match
                    if (isActivePath) {
                        this.state.active = true;
                    }
                    $(this).class('active', this.state.active);
                    if (this.state.subtree) {
                        $(this.namespace.sub_menu).class('d-none', !this.state.active);
                        $(this.namespace.sub_menu).itemize(this.state.subtree.items);
                        $(this.namespace.subtree_notch).class('cursor-pointer', true);
                        $(this.namespace.subtree_icon).class('bi-dot', false);
                        $(this.namespace.subtree_icon).class('bi-caret-down-fill', this.state.active);
                        $(this.namespace.subtree_icon).class('bi-caret-right-fill', !this.state.active);
                        $(this.namespace.subtree_notch).on('click', e => {
                            this.state.active = !this.state.active;
                            return false;
                        });
                    }
                }
            </script>
        </li>
    </template>

    <template name="page-outline">
        <li namespace class="pd-6">
            <a data-id="link" href=""></a>
            <ul data-id="sub_menu" template="page/tooling/#layout/page-outline" class="page-suboutline pd-4 d-none list-style-none"></ul>
            <script type="subscript">
                var activeHash = document.state.url.hash;
                if (this.state.title) {
                    $(this.namespace.link).html(this.state.title);
                    $(this.namespace.link).attr('href', '#' + this.state.uri);
                    $(this.namespace.link).class('active', activeHash === '#' + this.state.uri);
                    if (this.state.subtree.length) {
                        $(this.namespace.sub_menu).class('d-none', false);
                        $(this.namespace.sub_menu).itemize(this.state.subtree);
                    }
                }
            </script>
        </li>
    </template>

    <template name="breadcrumb">
        <li namespace class="flex-y-center">
            <i class="bi bi-slash xs"></i>
            <a data-id="link" class="pd-6 no-wrap" href="" style="font-size: smaller;"></a>
            <script type="subscript">
                if (this.state.title) {
                    $(this.namespace.link).html(this.state.title);
                    $(this.namespace.link).attr('href', this.state.path);
                    $(this).class('d-none', this.state.overflowCollapsed);
                }
            </script>
        </li>
        <li exportgroup="overflow" namespace class="d-none">
            <a data-id="link" class="flex-y-center pd-4 pd-lft-10 pd-rt-10" href="">
                <i class="bi bi-arrow-return-right xs pd-4"></i>
                <span data-id="link_text" class="pd-4" style="word-break: break-word;"></span>
            </a>
            <script type="subscript">
                if (this.state.title) {
                    $(this.namespace.link_text).html(this.state.title);
                    $(this.namespace.link).attr('href', this.state.path);
                    $(this).class('d-none', !this.state.overflowCollapsed);
                }
            </script>
        </li>
        <li exportgroup="subtree" namespace>
            <a data-id="link" class="flex-y-center pd-4 pd-lft-10 pd-rt-10" href="">
                <i class="bi bi-chevron-right xs pd-4" style="font-size: smaller;"></i>
                <span data-id="link_text" class="pd-4" style="word-break: break-word;"></span>
            </a>
            <script type="subscript">
                if (this.state.title) {
                    $(this.namespace.link_text).html(this.state.title);
                    $(this.namespace.link).attr('href', this.state.path);
                }
            </script>
        </li>
    </template>

</template>