<div namespace class="route-tooling" exportgroup="index">

    <script type="subscript">
        var app = document.state;
        if (this.namespace.hero) {
            this.namespace.hero.setState({
                title: ['The tooling for', 'web-native', 'development.'],
                desc: 'Build modern magic using plain web languages and conventional paradigms!',
                cta: {text: 'Explore', href: '#',},
                nav: [{
                    href: '#',
                    icon: 'braces',
                }],
                play: '#',
            });
        }
        if (app.page.projects) {
            this.namespace.main.setState({items: app.page.projects});
        }
    </script>

    <html-import data-id="hero" id="hero" name="type1" template="#layout/hero"></html-import>
    <html-import data-id="showcase" id="showcase" name="container" template="#layout/showcase"></html-import>
    <html-import data-id="main" id="main" name="container" template="#layout/large-grid-2" class="layout-section"></html-import>
    <html-import name="readme" class="box-padded-layout-section"></html-import>
    
</div>