<div namespace class="flex items-start">
    <ul data-id="projectsFilter" template="@layout/project-listing/filter" class="projects-filter list-none"></ul>
    <ul data-id="gridProjects" template="@layout/project-listing/a" class="projects-grid-a list-none"></ul>
    <script type="subscript">
        $(this.namespace.projectsFilter).list([
            {
                icon: 'braces',
                title: 'All',
                href: '#',
            }, {
                icon: 'cloud',
                title: 'Browser APIs',
                href: '#tooling',
            }, {
                icon: 'flag',
                title: 'JavaScript APIs',
                href: '#community',
            }, {
                icon: 'braces',
                title: 'SQL Standard',
                href: '#sql',
            }, {
                icon: 'cloud',
                title: 'Open API Standard',
                href: '#oas',
            }, {
                icon: 'flag',
                title: 'Utilities',
                href: '#community2',
            }
        ]);
        $(this.namespace.gridProjects).list([
            {
                title: ''
            },
            {},
            {},
            {},
            {},
            {},
        ]);
    </script>
</div>