<div namespace class="route-community" exportgroup="index">

    <script type="subscript">
        if (this.namespace.hero) {
            this.namespace.hero.setState({
                title: ['The community for', 'web-native', 'development.'],
                desc: 'Build modern magic using plain web languages and conventional paradigms!',
                cta: {text: 'Explore', href: '#',},
                nav: [{
                    href: '#',
                    icon: 'flag',
                }],
                play: '#',
            });
        }
    </script>

    <html-import data-id="hero" id="hero" name="type1" template="#layout/hero"></html-import>
    <html-import data-id="showcase" id="showcase" name="container" template="#layout/showcase"></html-import>
    <html-import name="readme" class="box-padded-layout-section"></html-import>
    
</div>