<div namespace class="flex items-start">
    <ul data-id="projectsFilter" template="@layout/project-listing/filter" class="projects-filter list-none"></ul>
    <ul data-id="gridProjects" template="@layout/project-listing/a" class="projects-grid-a text-left justify-center list-none"></ul>
    <script type="subscript">
        $(this.namespace.projectsFilter).list([
            {
                icon: 'braces',
                title: 'All',
                href: '/tooling',
            }
        ]);
        $(this.namespace.gridProjects).list([
            {},
            {}
        ]);
    </script>
</div>