
<!-- Main Home View -->
<div namespace class="homepage">

    <!-- OVERLAY_MENU -->

    <div data-id="app_drawer" class="d-flex flex-column overflow-hidden d-none" style="position: fixed; height: 100vh; max-width: 70vw; background-color: ghostwhite; border-right: 1px solid white; z-index: 100;">

        <div class="col-grows pd-10 pd-x2 pd-btm-0 d-flex flex-column">

            <div class="app-bar pd-10 mg-btm-10 overflow-x-hidden">
                <html-import name="logo_nav" template="brand" class="wt-auto"></html-import>
            </div>
            <ul class="site-menu pd-top-10 pd-btm-10 list-style-none" style="border-top: 1px dashed silver; border-bottom: 1px dashed silver">
                <li>
                    <a href="/tooling" class="flex-y-center">
                        <i class="bi bi-braces sm flex-center pd-lft-10 pd-rt-10"></i>
                        <span class="pd-10">Tooling</span>
                    </a>
                </li>
                <li>
                    <a href="/cloud" class="flex-y-center">
                        <i class="bi bi-cloud sm flex-center pd-lft-10 pd-rt-10"></i>
                        <span class="pd-10">Cloud</span>
                    </a>
                </li>
                <li>
                    <a href="/community" class="flex-y-center">
                        <i class="bi bi-flag sm flex-center pd-lft-10 pd-rt-10"></i>
                        <span class="pd-10">Community</span>
                    </a>
                </li>
            </ul>
            <ul class="pd-top-10 pd-btm-10 d-none list-style-none" style="border-bottom: 1px dashed sil-ver">
                <li>
                    <a href="/about" class="flex-y-center">
                        <i class="bi bi-globe sm flex-center pd-10"></i>
                        <span class="pd-10">About</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="pd-10 pd-x2 flex-y-center flex-x-separate">
            <a href="/" target="_blank" class="d-none">About</a>
            <a href="https://github.com/webqit" target="_blank" class="d-none">
                <i class="bi bi-github sm"></i>
            </a>
        </div>
    </div>
    <div data-id="main_backdrop" class="cover d-none" style="position: fixed; background-color: rgba(0, 0, 0, 0.125); z-index: 99;"></div>

    <script type="subscript">
        $(this.namespace.app_drawer_open).on('click', () => toggleDrawer(this.namespace.app_drawer, this.namespace.main_backdrop, true));
        $(this.namespace.app_drawer_open2).on('click', () => toggleDrawer(this.namespace.app_drawer, this.namespace.main_backdrop, true));
        $(this.namespace.main_backdrop).on('click', () => toggleDrawer(this.namespace.app_drawer, this.namespace.main_backdrop, false));
    </script>

    <!-- HEADER -->

    <header class="page-header flex-y-stretch">
        <div class="wt-80 md--wt-60 sm--wt-20 flex-x-center">
            <span data-id="app_drawer_open" class="flex-center pd-4 b cursor-pointer sm--d-none">
                <i class="bi bi-filter-left flex-center ht-60 wt-60 border-lft-solid md--ht-40 md--wt-40 md--border-lft-none" style="background-color: whitesmoke;"></i>
            </span>
        </div>
        <div class="col-grows pd-top-10 pd-btm-10 pd-x2 md--pd-10 md--pd-lft-6 md--pd-top-x2 md--pd-btm-x2">
            <span class="brand-container flex-y-center h5">
                <a href="/">
                    <span class="txt-lg b">Web</span><span class="txt-lg b">Qit</span><br />
                    <span class="txt-lg" style="color: slateblue;">go --native</span>
                </a>
            </span>
        </div>
        <div class="flex-x-end pd-8 pd-x2 d-none sm--d-flex">
            <span data-id="app_drawer_open2" class="b cursor-pointer">
                <i class="bi bi-filter-right flex-center ht-40 wt-40"></i>
            </span>
        </div>
    </header>

    <section namespace class="page-section hero overflow-hidden">

        <div class="ht-40"></div>
        <div class="section-header flex-y-stretch">
            <div class="section-header-left wt-80 md--wt-60 sm--wt-20"></div>
            <div class="section-header-content-container col-grows md--pd-6">
                <div class="pd-top-10 pd-btm-10 pd-x2 txt-xs sm--txt-xxs color-2">
                    <span class="section-header-tag pd-10 b">&gt; go --native</span>
                </div>
                <div class="flex-y-stretch md--d-block">
                    <h1 data-id="header" class="section-header-content pd-top-8 pd-btm-10 pd-x2">
                        <span class="heavy-text" style="font-size: 1.2em;">The tooling, cloud, and community for <span class="no-wrap text-gradient text-gradient-2">web-native</span> development.</span><br />
                        <span class="d-inline-block pd-top-10 pd-x3 txt-larger" style="font-weight: 400; color: gray;">Build your most ambitious apps with the most native approach!</span>
                    </h1>
                    <div class="section-header-graphic col-grows flex-center">
                    </div>
                </div>
                <div class="hero-inks-container pd-top-10 pd-btm-10 radius-10 drop-shadow md--wt-full overflow-hidden anim-fly-bottom-small list-style-none">
                    <ul data-id="inpage_menu" class="hero-links b pd-x2 text-gradient text-gradient-2">
                        <li><a href="#tooling-section" class="flex-y-end pd-top-8 pd-btm-8">
                            <i class="bi bi-arrow-down sm flex-center pd-lft-10 pd-lft-x2 pd-rt-10"></i>
                            <div class="pd-lft-10 pd-rt-10 pd-rt-x2">Tooling</div>
                        </a></li>
                        <li><a href="#cloud-section" class="flex-y-end pd-top-8 pd-btm-8">
                            <i class="bi bi-arrow-down sm flex-center pd-lft-10 pd-lft-x2 pd-rt-10"></i>
                            <div class="pd-lft-10 pd-rt-10 pd-rt-x2">Cloud</div>
                        </a></li>
                        <li><a href="#community-section" class="flex-y-end pd-top-8 pd-btm-8">
                            <i class="bi bi-arrow-down sm flex-center pd-lft-10 pd-lft-x2 pd-rt-10"></i>
                            <div class="pd-lft-10 pd-rt-10 pd-rt-x2">Community</div>
                        </a></li>
                    </ul>
                </div>
                <div class="section-header-bg-graphic"></div>
            </div>
            <div class="section-header-right wt-80 md--wt-60 sm--wt-20"></div>
        </div>
        <div class="d-flex header-base">
            <div class="col-1 ht-40"></div>
        </div>

        <div class="section-header-right wt-80 md--wt-60 sm--wt-0 sm--pd-10 flex-y-stretch d-none">
            <div class="flex-x-center wt-0 pd-top-10 pd-top-x10 md--d-none">
                <ul class="mg-top-10 list-style-none">
                    <li class="mg-btm-10"><a href="#tooling-section" class="flex-center min-wt-40 min-ht-40 radius-full ring-shadow bg-color-1" style="color: white;">
                        <i class="bi bi-play-fill sm flex-center"></i>
                    </a></li>
                    <li><a href="https://twitter.com/@Web_Qit" target="_blank" class="flex-center min-wt-40 ht-40 radius-full" style="background-color: whitesmoke; border: 1px solid gainsboro;">
                        <i class="bi bi-twitter sm flex-center"></i>
                    </a></li>
                    <li><a href="https://github.com/webqit" target="_blank" class="flex-center min-wt-40 ht-40 radius-full" style="background-color: whitesmoke; border: 1px solid gainsboro;">
                        <i class="bi bi-github sm flex-center"></i>
                    </a></li>
                </ul>
            </div>
        </div>

    </section>

    <section namespace class="page-section showcase">
        <div class="flex-y-stretch d-none">
            <div class="pd-10 sm--pd-lft-0"></div>
            <div class="pd-10 sm--pd-lft-0"></div>
        </div>
        <div class="showcase-items flex-center c-ol-grows r-adius-8">
            <img alt="WebQit logo" src="/img/logo/logo.130x130.fw.png" />
        </div>
        <div class="section-footer flex-y-stretch">
            <div class="section-footer-left col-1 border-color-2"></div>
        </div>
    </section>

    <!-- MAIN -->

    <main data-id="sections" template="page/_section" class="page-main pos-rel">
        <script type="subscript">
            let app = document.state;
            if (app.page.sections) {
                $(this).itemize(app.page.sections);
            }
        </script>
    </main>

    <!-- FOOTER -->

    <footer class="page-section footer flex-y-stretch flex-wrap pd-top-10 pd-top-x3" style="border-top: 1px dashed silver;">
        <div class="col-2 sm--col-12 sm--pd-10 sm--pd-x3 sm--pd-top-0 txt-align-cntr sm--flex-y-center sm--flex-x-separate">
            <div is="play-seq-div" play-seq="animIn:flip; animInAlt:fade_in; duration: 600;">
                <a href="/#"><img alt="WebQit logo" src="/img/logo/logo.130x130.fw.png" class="wt-60 sm--wt-5 sm--wt-x10 mg-lft-2 negative-mg" /></a>
            </div>
            <ul i-s="play-seq-ul" play-seq="animIn:fly_bottom_small; animInAlt:fade_in; duration: 600;" class="mg-top-10 mg-top-x2 sm--mg-top-0 sm--flex-y-center list-style-none">
                <li i-s="play-seq-li" class="pd-4 sm--pd-10"><a href="https://twitter.com/@Web_Qit" target="_blank" class="d-inline-block">
                    <i class="bi bi-twitter sm flex-center"></i>
                </a></li>
                <li i-s="play-seq-li" class="pd-4 sm--pd-10"><a href="https://github.com/webqit" target="_blank" class="d-inline-block">
                    <i class="bi bi-github sm flex-center"></i>
                </a></li>
            </ul>
        </div>
        <div class="col-8 md--col-10 sm--col-12 flex-y-stretch flex-x-separate flex-wrap">
            <ul class="md--col-12 sm--txt-align-cnt-r flex-y-stretch flex-wrap pd-10 pd-btm-x3 txt-smaller list-style-none">
                <li class="col-4 pd-10">
                    <span class="pd-10 b">Tooling</span>
                    <ul class="mg-top-10 list-style-none">
                        <li class="pd-10"><a href="/tooling">Projects</a></li>
                        <li class="pd-10"><a href="https://github.com/webqit">Repos</a></li>
                        <li class="pd-10"><a href="/">Contributors</a></li>
                        <li class="pd-10"><a href="/">Sponsors</a></li>
                    </ul>
                </li>
                <li class="col-4 pd-10">
                    <span class="pd-10 b">Cloud</span>
                    <ul class="mg-top-10 list-style-none">
                        <li class="pd-10"><a href="/">Services</a></li>
                        <li class="pd-10"><a href="/">Pricing</a></li>
                        <li class="pd-10"><a href="/">Status</a></li>
                    </ul>
                </li>
                <li class="col-4 pd-10">
                    <span class="pd-10 b">Community</span>
                    <ul class="mg-top-10 list-style-none">
                        <li class="pd-10"><a href="/">WebQit</a></li>
                        <li class="pd-10"><a target="_blank" href="https://w3.org/community/web-native">Web-Native</a></li>
                        <li class="pd-10"><a href="/">Blog</a></li>
                    </ul>
                </li>
            </ul>
            <div class="sm--col-12 pd-10" id="waitlist">
                <div class="pd-4 sm--txt-align-cntr">
                    <div class="pd-6 b">We're in public beta and iterating fast.</div>
                    <div class="pd-6">You may want to subscribe to updates...</div>
                </div>
                <div class="pd-10">
                    <div class="pd-10" style="background-color: whitesmoke;">
                        <!-- Begin Mailchimp Signup Form -->
                        <style>
                            #mc_embed_signup div.mce_inline_error {
                                display: inline-block;
                            }
                        </style>
                        <div id="mc_embed_signup">
                            <form action="https://yahoo.us10.list-manage.com/subscribe/post?u=6091dca0ef3e87e3db682fe7f&id=a38711c3d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="mc-field-group flex-y-stretch" style="border: 1px solid silver;">
                                        <div class="col-grows flex-y-stretch">
                                            <input type="email" value="" name="EMAIL" class="required email wt-full pd-8 pd-x2 border-none" autocomplete="off" placeholder="Email Address" id="mce-EMAIL" />
                                        </div>
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button pd-8 pd-x2 border-none" style="color: white; background-color: dimgray;" />
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none; color: blueviolet; font-weight: bold;"></div>
                                        <div class="response" id="mce-success-response" style="display:none; color: red; font-weight: bold;"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -8000px;" aria-hidden="true"><input type="text" name="b_6091dca0ef3e87e3db682fe7f_a38711c3d0" tabindex="-1" value="" /></div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="pd-10 pd-x2 d-flex flex-wrap" style="border-top: 1px dashed silver;">
        <div class="col-grows pd-10">&copy; <span data-id="site_year">2021</span> WebQit</div>
        <ul class="col-grows flex-x-end no-wrap list-style-none">
            <li class="pd-10"><a href="/">Contact</a></li>
            <li class="pd-10"><a href="/">Terms</a></li>
            <li class="pd-10"><a href="/">Privacy</a></li>
        </ul>
    </div>

</div>    

<!-- TEMPLATES -->

<template name="_section">

    <section namespace class="page-section">

        <div class="section-header flex-y-stretch">
            <div class="col-1 section-header-left"></div>
            <div class="col-grows pos-rel">
                <div class="section-header-content h3 pd-10 pd-x4 md--pd-10 md--pd-x4 md--pd-lft-x3">
                    <i data-id="icon1" class="section-header-icon bi flex-center xs b"></i>
                    <div data-id="header" is="play-seq-div" play-seq="animIn:fly_left_small; animInAlt:fly_right_small; duration:600; autoOffStateReverse:1;"></div>
                </div>
            </div>
            <div class="col-1 sm--col-0 sm--pd-10 section-header-right"></div>
        </div>

        <div class="flex-y-stretch">
            <div class="pd-10 sm--pd-lft-0"></div>
            <div data-id="main" class="section-main col-grows flex-y-stretch flex-wrap radius-8">
                <div class="section-main-a col-4 md--col-12 d-flex flex-column md--d-block radius-top-lft-inherit radius-btm-lft-inherit md--radius-btm-lft-none md--radius-top-rt-inherit">

                    <div class="section-main-padding-header ht-40 radius-inherit"></div>
                    <div class="section-main-header flex-y-center flex-x-separate pd-lft-10 pd-rt-10 pd-x4 md--pos-rel">
                        <h2 data-id="title" class="section-title txt-xxl"></h2>
                        <i data-id="icon" class="section-icon bi flex-center"></i>
                    </div>
                    <div class="section-main-content col-grows vertical-fit-content pd-top-x2 txt-lg flex-y-separate md--flex-y-center sm--d-block">
                        <div class="pd-10 pd-x4 mg-btm-x4 md--col-5">
                            <p data-id="desc" class="section-desc legend-font"></p>
                            <ul data-id="highlights" template="page/_section" class="section-highlights legend-font list-style-none"></ul>
                        </div>
                        <div is="play-seq-div" play-seq="animIn:fly_bottom_small; animInAlt:fly_top_small; duration:600; autoOffStateReverse:1;" class="section-graphic wt-full pd-10 pd-x4 md--col-7 txt-align-cntr">
                            <img data-id="graphic" src="/img/banner-dev-tools.pngd" />
                        </div>
                    </div>

                </div>

                <div is="play-seq-div" play-seq="animIn:fly_bottom_small; animInAlt:fly_top_small; duration:600; autoOffStateReverse:1;" class="section-main-b col-grows md--col-12 d-flex flex-column md--d-block radius-top-rt-inherit radius-btm-rt-inherit md--radius-top-rt-none md--radius-btm-lft-inherit">
                    <div class="section-main-padding-header ht-40 md--d-none radius-inherit"></div>
                    <div class="section-main-header flex-x-separate flex-y-center pd-lft-10 pd-rt-10 pd-lft-x3 pd-rt-x2 md--pd-lft-10 md--pd-rt-10 md--pd-x2">

                        <div class="col-grows">
                            <ul data-id="tabs" template="page/_section" class="section-nav d-inline-flex flex-y-stretch h5 list-style-none" style="white-space: nowrap;">
                                <li data-id="overflowNotch" namespace class="overflow-notch d-none" tabindex="0">
                                    <i class="bi bi-three-dots sm ht-full flex-y-center"></i>
                                    <div class="overflow ht-0 flex-x-center">
                                        <ul data-id="list" template="page/_section" class="overflow-list pos-abs animation-x-fast anim-fly-top-small list-style-none"></ul>
                                    </div>
                                </li>
                            </ul>        
                        </div>

                        <a data-id="url_arrow" href="" class="section-url-arrow flex-y-center pd-10">
                            <i class="bi bi-arrow-right flex-center" style="font-weight: normal;"></i>
                        </a>

                    </div>
                    <div data-id="tabpanels" template="page/_section" class="section-main-content col-grows vertical-fit-content pd-btm-10 pd-x3 md--col-12 flex-y-stretch overflow-hidden"></div>
                </div>
                <a data-id="url2" href="" class="section-url2 b flex-y-center wt-full pd-10 pd-x3 radius-btm-lft-inherit radius-btm-rt-inherit d-none md--d-flex">
                    <span class="pd-rt-10 pd-x2"></span>
                    <i class="bi bi-arrow-right flex-center" style="font-weight: normal;"></i>
                </a>
            </div>
            <div class="pd-10 sm--pd-rt-0"></div>
        </div>

        <div class="section-footer flex-y-stretch">
            <div class="col-1 section-footer-left"></div>
            <div class="col-grows">
                <div data-id="footer" class="section-footer-content pd-10 pd-x2 pd-top-x3 pd-btm-x3 b"></div>
            </div>
            <div class="col-1 sm--col-0 sm--pd-10 section-footer-right"></div>
        </div>

        <script type="subscript">
            let section = this.state;
            let overflowNotch = this.namespace.overflowNotch;
            let overflowList = overflowNotch.namespace.list;
            if (section.title) {
                if (section.featured.now.active) {
                    let active = section.featured.state.active.first();
                    $(overflowNotch).class('active', active.overflowCollapsed);
                }
                $(this).attr('id', section.name + '-section');
                $(this.namespace.main).attr('id', section.name);
                $(this.namespace.header).html(section.header);
                $(this.namespace.footer).html(section.footer);
                $(this.namespace.url_arrow).attr('href', '/' + section.name);
                $(this.namespace.url2).attr('href', '/' + section.name);
                $(this.namespace.url2.querySelector('span')).html('Go to ' + section.name);
                $(this.namespace.title).html(section.title);
                $(this.namespace.icon1).class('bi-' + section.icon, true);
                $(this.namespace.icon).class('bi-' + section.icon, true);
                $(this.namespace.desc).html(section.desc);
                $(this.namespace.highlights).itemize(section.highlights, null, null, {itemExportId: 'highlight'});
                $(this.namespace.graphic).attr('src', section.graphic);
                // ----
                $(this.namespace.tabs).itemize(section.featured.items, (e, el, d, k) => {
                    d.overflowCollapsed = false;
                    if (k === parseInt((section.featured.items.length - 1) / 2)) {
                        el.after(overflowNotch);
                    }
                }, (e, el, d, k, overflowCount) => {
                    d.overflowCollapsed = e === 'collapse';
                    $(overflowNotch).class('d-none', overflowCount === 0);
                }, {itemExportId: 'tab', collapsionPoint: 'center-end'});
                $(overflowList).itemize(section.featured.items, null, null, {itemExportId: 'overflow-tab'});
                // ----
                $(this.namespace.tabpanels).itemize(section.featured.items, null, null, {itemExportId: 'tabpanel'});
            }
        </script>

    </section>

    <li exportgroup="highlight" namespace class="flex-y-start">
        <span class="bullet flex-center radius-full mg-rt-6 mg-rt-x2">
            <i data-id="icon" class="bi sm flex-center"></i>
        </span>
        <span data-id="content" class="col-grows"></span>
        <script type="subscript">
            if (!this.state.content) return;
            $(this.namespace.icon).class('bi-' + this.state.icon, true);
            $(this.namespace.content).html(this.state.content);
        </script>
    </li>

    <li exportgroup="tab" namespace>
        <span data-id="content"></span>
        <script type="subscript">
            $(this).on('click', () => {
                this.state.active = true;
            });
            if (!this.state.name) return;
            $(this.namespace.content).html(this.state.shortTitle || this.state.title);
            $(this).class('d-none', this.state.overflowCollapsed);
            $(this).class('active', this.state.active);
        </script>
    </li>

    <li exportgroup="overflow-tab" namespace>
        <span data-id="content"></span>
        <script type="subscript">
            $(this).on('click', () => {
                this.state.active = true;
            });
            if (!this.state.name) return;
            $(this.namespace.content).html(this.state.shortTitle || this.state.title);
            $(this).class('d-none', !this.state.overflowCollapsed);
            $(this).class('active', this.state.active);
        </script>
    </li>

    <div exportgroup="tabpanel" namespace class="section-panel col-grows">
        <div class="panel-main col-12 pd-10 flex-y-start flex-wrap pd-10 pd-x4 pd-top-x5">
            <div class="pd-lft-10 pd-rt-10 sm--pd-0 mg-rt-10 mg-rt-x3 flex-center">
                <i data-id="icon" class="panel-icon bi xl"></i>
            </div>
            <div class="panel-content col-grows sm--col-12">
                <h3 data-id="title" class="panel-title txt-xl"></h3>
                <div data-id="desc" class="panel-desc txt-larger">Coming Soon!</div>
                <div class="panel-desc2 flex-y-start">
                    <i class="bi sm bi-arrow-return-right mg-rt-10"></i>
                    <span data-id="desc2" class="txt-larger"></span>
                </div>
                <a data-id="ctaRef" href="/" class="panel-page pd-6 pd-x2 pd-lft-x4 pd-rt-x4 cta radius-8 d-inline-flex drop-shadow flex-y-center">
                    <span data-id="cta" class="b">Explore</span>
                    <i data-id="ctaArrow" class="flex-arrow bi bi-arrow-right sm flex-center"></i>
                </a>
            </div>
        </div>
        <div class="panel-demo-container pd-lft-10 pd-lft-x6 sm--pd-lft-8 overflow-hidden">
            <ul data-id="demo" template="page/_section" class="panel-demo list-style-none"></ul>
        </div>
        <div class="panel-meta-container pd-10 pd-x4">
            <ul data-id="meta" template="page/_section" class="panel-meta"></ul>
        </div>
        <script type="subscript">
            if (this.state.title) {
                $(this).class('d-none', !this.state.active);
                // ----------------
                $(this.namespace.icon).class('bi-' + this.state.icon, true);
                $(this.namespace.title).html(this.state.title);
                $(this.namespace.desc).html(this.state.desc);
                $(this.namespace.desc2).html(this.state.desc2 || '');
                $(this.namespace.ctaRef).attr('href', this.state.ctaRef);
                $(this.namespace.cta).html(this.state.cta);
                if (this.state.ctaIsAlt) {
                    $(this.namespace.ctaArrow).class('d-none', true);
                }
                // ----------------
                $(this.namespace.demo).itemize(this.state.demo || [], null, null, {itemExportId: 'demo'});
                $(this.namespace.meta).itemize(this.state.meta, null, null, {itemExportId: 'meta'});
            }
        </script>
    </div>

    <li exportgroup="demo" namespace class="fl-ex-y-start animation-x-fast anim-scale-in-small">
        <img data-id="icon" style="max-width: 50px; margin-bottom: 25px;" />
        <div class="co-l-6" style="border-top: 3px whitesmoke;">
            <h3 data-id="title" class="txt-xl mg-btm-4"></h3>
            <div data-id="desc" class="txt-lg"></div>
        </div>
        <div class="col-grows">
        </div>
        <script type="subscript">
            if (!this.state.title) return;
            $(this.namespace.icon).attr('src', this.state.icon);
            //$(this.namespace.title).html(this.state.title);
            $(this.namespace.desc).html(this.state.desc);
            $(this.namespace.page).attr('href', this.state.page);
        </script>
    </li>

    <li exportgroup="meta" namespace class="flex-y-start sm--d-block mg-btm-10">
        <div data-id="title" class="mg-lft-6 md--mg-lft-0 sm--mg-btm-4 wt-80 pd-rt-10 pd-rt-x2 txt-align-rt sm--txt-align-lft" style="color: gray;"></div>
        <div data-id="desc" class="col-grows pd-lft-10 pd-lft-x2 sm--pd-lft-0"></div>
        <script type="subscript">
            if (!this.state.title) return;
            $(this.namespace.title).html(this.state.title + ':');
            $(this.namespace.desc).html(this.state.desc);
        </script>
    </li>

</template>
