<div namespace class="homepage">
    <script type="subscript">
        var app = document.state;
        if (app.page.hero) {
            this.namespace.hero.setState(app.page.hero);
            this.namespace.tooling.setState(app.page.sections[0]);
            this.namespace.cloud.setState(app.page.sections[1]);
            this.namespace.community.setState(app.page.sections[2]);
        }
    </script>

    <html-import data-id="hero" id="hero" template="@layout/hero"></html-import>
    <html-import data-id="showcase" id="showcase" name="container" template="@layout/showcase"></html-import>

    <html-import data-id="tooling" id="domain--tooling" template="@layout/domain-block" class="snaps-to-start"></html-import>
    
    <html-import data-id="cloud" id="domain--cloud" template="@layout/domain-block" class="snaps-to-start"></html-import>

    <html-import data-id="community" id="domain--community" template="@layout/domain-block" class="snaps-to-start"></html-import>

</div>