
/**
 * - 1200px
 * - 992px
 * - 760px
 */

@font-face {
    font-family: 'League Spartan';
    src: url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.eot');
    src: url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.woff') format('woff'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

.heavy {
    font-family: 'League Spartan';
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Josefin Sans', sans-serif;
}
play-icon {
    font-size: initial;
}

/* ------------------ */

.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.divider {
    border-bottom: 3px dotted gainsboro;
}
.no-wrap {
    white-space: nowrap;
}
.ring-shadow {
    box-shadow: 0px 0px 10px 10px rgba(50, 0, 100, 0.125);
}
.ring-shadow:hover,
.hover--ring-shadow:hover {
    box-shadow: 0px 0px 0px 20px rgba(50, 0, 100, 0.125);
}
.drop-shadow,
.hover--drop-shadow:hover {
    box-shadow: 0px 0px 2.5px rgba(0,0,0,0.25), 0px 5px 7.5px -2.5px rgba(0,0,0,0.125);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.25);
}
.jelly-peel {
    color: white;
    background: slateblue;
}
.snap-container {
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y proximity;
}
.snap-mandatory-container {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}
.snaps-start {
    scroll-snap-align: start;
}
.snaps-end {
    scroll-snap-align: end;
}
.snaps-center {
    scroll-snap-align: center;
}
.cta {
    width: fit-content;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
}
.cta span {
    margin-left: 15px;
}

/* ------------------ */

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
p, .p, a, .a {
    font-family: 'Josefin Sans', sans-serif;
}
.markdown-body p,
.markdown-body a {
}
.site-menu li:hover {
}
.outline li {
    position: relative;
    border: 2px dashed transparent;
}
.outline li.active {
    border-color: silver;
}
.outline li .pointer {
    position: relative;
    display: inline-block;
    opacity: 0.3;
}
.outline li .icon {
    background-color: transparent !important;
    background-image: url(/img/bg/Dots.svg);
}
.outline li:hover .pointer,
.outline li.active .pointer {
    opacity: 1;
}
.outline li.active .pointer {
    margin-right: -2.5px;
}
@media (max-width: 760px) {
    .outline li {
        border: none;
    }
    .outline li.active {
        color: white;
        background-color: slateblue;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
    }
    .outline li.icon-webqit-tooling.active {
    }
    .outline li.icon-webqit-cloud.active {
    }
    .outline li.icon-webqit-community.active {
    }
}

a.icon-webqit-tooling.active {
    border: 1px solid slateblue;
    color: slateblue;
}
a.icon-webqit-cloud.active {
    border: 1px solid slateblue;
    color: slateblue;
}
a.icon-webqit-community.active {
    border: 1px solid teal;
    color: teal;
}

/* ------------------ */

.menu-control:before,
.menu-control-alt:before {
    position: absolute;
    left: -60px;
    bottom: -30px;
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius: 50%;
    border: 2px dashed gainsboro;
    content: "";
    z-index: 0;
}

.divides_right {
    background-color: white;
    border-right: 2px solid gainsboro;
}

/**
 * ----------
 * BEGIN CIRCUS SHOW
 * ----------
*/

.webqit_intro_a,
.webqit_intro_b {
    animation: webqit-intro-alt 10000ms forwards;
    animation-iteration-count: infinite;
    overflow: hidden;
    display: block;
}
.webqit_intro_b {
    animation-delay: 5000ms;
}
.webqit_intro_video_text {
    color: slategray;
}
.webqit_intro_video_circle {
    background-color: slategray;
    border: 2px solid slateblue;
}
.circus li {
    background-size: cover;
    background-position: center;
    background-color: ghostwhite;
    box-shadow: 0px 0px 100px white inset;
    z-index: 1;
}
.circus li[data-active="true"] {
    animation: zoom-in 200ms forwards;
    z-index: 1;
}
.circus li[data-active="false"] {
    animation: zoom-in-off 200ms forwards;
    z-index: 10;
}
.circus li[data-active="true-reverse"] {
    animation: zoom-out 200ms forwards;
    z-index: 10;
}
.circus li[data-active="false-reverse"] {
    animation: zoom-out-off 200ms forwards;
    z-index: 1;
}
@keyframes webqit-intro-alt {
    0% {opacity: 0; height: inherit;}
    5% {opacity: 1; height: inherit;}
    45% {opacity: 1; height: inherit;}
    49% {opacity: 0.5; height: 0px;}
    100% {opacity: 0; height: 0px;}
}
@keyframes zoom-in {
    from {transform: scale(0.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes zoom-in-off {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(1.5); opacity: 0;}
}
@keyframes zoom-out {
    from {transform: scale(1.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes zoom-out-off {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(0.5); opacity: 0;}
}

.circus li .display-link {
    opacity: 0;
}
.circus li[data-active="true"] .display-link {
    animation: drop 400ms forwards;
    animation-delay: 400ms;
}
.circus li[data-active="true-reverse"] .display-link {
    animation: raise 400ms forwards;
    animation-delay: 400ms;
}
@keyframes drop {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
@keyframes raise {
    from {transform: translateY(50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

/**
 * ----------
 * BEGIN MAIN
 * ----------
*/

body {
    background-color: white;
}
main.home {
    background: linear-gradient(180deg, white, slateblue, white);
}
.page-section {
    min-height: 100vh;
    margin: 5px;
}

/* ------------------- */

.section-div-a,
.section-div-b {
    padding-top:75px;
    padding-bottom:50px;
}
.section-div-a,
.section-div-a .section-div-header {
    background-color: var(--section-div-a-bg);
    color: var(--section-div-a-color);
}
.section-div-b,
.section-div-b .section-div-header {
    background-color: var(--section-div-b-bg);
    color: var(--section-div-b-color);
}
@media (max-width: 992px) {
    .section-div-b .section-div-header {
        background-color: var(--section-div-a-bg);
        color: var(--section-div-a-color);
    }
}
@media (max-width: 760px) {
    .sm--wt-auto {
        width: auto;
        width: fit-content;
    }
}

/* -header and -content */

.section-div-header,
.section-div-content {
    padding-left: 30px;
    padding-right: 30px;
}
.section-div-header {
    position: sticky;
    top: 0px;
    font-weight: bold;
    z-index: 3;
}
.section-div-content {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: min-content !important;
}
.section-div-content > p span {
    display: inline-block;
    padding: 10px;
}
.section-div-content > ul li {
    margin-bottom: 20px;
}
.section-div-content > ul li .bullet {
    min-width: 40px;
}

/* -icon and -more */

.section-icon,
.section-more {
    position: relative;
    height: 60px;
}
.section-icon {
    width: 40px;
    background-image: url(/img/bg/Dots.svg);
    /*
    background-color: rgba(0, 0, 0, 0.04);
    border: 2px dashed silver;
    */
}
.section-more .text {
    text-align: right;
    margin-right: 10px;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
}
.section-more:hover .text,
.section-more:active .text {
    width: 100px;
}

/* -nav */

.section-nav {
}
.section-nav > li {
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 400ms;
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
    /*
    border-top: 3px solid transparent;
    order-bottom: 3px solid transparent;
    */
    border-bottom: 1px solid transparent;
    cursor: default;
}
.section-nav > li.active {
    border-color: currentColor;
}
/** ------------- */
.section-nav > .overflow-notch {
    border: 1px dashed transparent;
}
.section-nav > .overflow-notch:focus {
    border-color: currentColor;
}
.section-nav > .overflow-notch .overflow-list > li {
    line-height: normal;
    padding: 10px;
    padding-left: 20px;
    padding-right: 25px;
    cursor: default;
}

/** ------------- */

.overflow-notch {
    white-space: normal;
}
.overflow-notch .overflow-list {
    max-width: 200px;
    color: black;
    background-color: white;
    display: none;
    border: 1px solid silver;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.overflow-notch .overflow-list li:active,
.overflow-notch .overflow-list li.active {
    border-left: 3px solid black;
}
.overflow-notch .overflow-list li:hover {
    background-color: gainsboro;
}
.overflow-notch:focus-within .overflow-list {
    display: block;
}

/* ------------------- */

.grid-3 {
	display: grid;
	grid-gap: 25px;
	grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
}
@media (max-width: 1100px) {
	.grid-3 {
	  	grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 640px) {
	.grid-3 {
	  	grid-template-columns: repeat(1, 1fr);
	}
}

/* ------------------- */

/*
#tooling {
    color:whitesmoke;
    background-color: rgba(50, 50, 50, 0.85);
}
#tooling .section-div-a {
    border-right: 2px solid rgba(100, 100, 100, 0.5);
}
#tooling .section-div-header {
    background: rgba(50, 50, 50, 0.95);
    box-shadow: 0px -5px 0px rgba(50, 50, 50, 0.85), 0px 5px 0px rgba(50, 50, 50, 0.85);
}

#tooling .section-div-header,
#tooling .section-div-header a {
    color: silver;
}

#tooling a:hover {
	color: white;
}

#tooling .item {
    min-height: 350px;
	padding: 40px;
    background-color: inherit;
	border-radius: 10px;
	border: 1px dashed silver;
}
#tooling .item:hover {
	border-color: white;
}
*/

#tooling {
    --section-div-a-bg: rgb(232, 243, 255);
    --section-div-b-bg: ghostwhite;
    --section-div-a-color: black;
    --section-div-b-color: black;
}
#tooling .item {
    min-height: 275px;
    transition: all 300ms !important;
    background: whitesmoke;
}
#tooling .item-content {
}
#tooling .item-links {
    color: white;
    background-color: slateblue;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}
@media (max-width: 760px) {
    #tooling .item {
        min-height: 325px;
    }
}
#tooling .item:hover {
    transform: scale(0.97) !important;
}
#tooling .item a {
    font-weight: bold;
}

/* ------------------- */

#cloud {
    --section-div-a-bg: #d8d2fa;
    --section-div-b-bg: lavender;
    --section-div-a-color: black;
    --section-div-b-color: black;
}
#cloud .section-div-b .section-div-content {
    min-height: 70vh !important;
}
#cloud .about {
    font-weight: bold;
    background-image: url(/img/bg/Dots.svg);
}
#cloud .about .header {
    color: white;
}
#cloud .about .starter-box {
    color: white;
}
#cloud .highlights {
    border-top: 3px solid silver;
    max-width: 200px;
    display: none;
}
#cloud .highlights .item {
    padding: 30px;
}

/* ------------------- */

#community {
    --section-div-a-bg: lavenderblush;
    --section-div-b-bg: floralwhite;
    --section-div-a-color: black;
    --section-div-b-color: black;
}
#community .section-div-b .section-div-content {
    min-height: 70vh !important;
}
#community .grid-3 {
    grid-gap: 0px;
    display: none;
}
#community .about {
    color: gray;
    font-weight: bold;
    background-image: url(/img/bg/Dots.svg);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
}

footer.home {
    min-height: 300px;
}