
/**
 * - 1200px
 * - 992px
 * - 760px
 */

@font-face {
    font-family: 'League Spartan';
    src: url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.eot');
    src: url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.woff') format('woff'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('league-spartan/league-spartan-master/webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inter', sans-serif;
}
body {
    
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* ------------------ */

.snap-container {
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y proximity;
}
.snap-mandatory-container {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}
.snaps-start {
    scroll-snap-align: start;
}
.snaps-end {
    scroll-snap-align: end;
}
.snaps-center {
    scroll-snap-align: center;
}

/* ------------------ */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Josefin Sans', sans-serif;
}
p, .p,
.content-font {
    font-family: Roboto, 'Noto Sans', sans-serif;
    font-stretch: normal;
}
.hero-font {
    font-family: 'League Spartan';
}
.legend-font {
    font-family: 'Prompt', sans-serif;
}
.hero-text {
    font-size: 3em !important;
}
@media (max-width: 760px) {
    .hero-text {
        font-size: 2.9em !important;
    }
}
.heavy-text {
    font-weight: 800 !important;
}

/* ------------------ */

.bi {
    font-size: 2em !important;
}
[class^="bi-"]::before, [class*=" bi-"]::before {
    vertical-align: unset !important;
    font-weight: inherit !important;
}
.bi.xs {
    font-size: 1em !important;
}
.bi.sm {
    font-size: 1.5em !important;
}
.bi.md {
    font-size: 2em !important;
}
.bi.lg {
    font-size: 3em !important;
}
.bi.xl {
    font-size: 3.5em !important;
}
.bi.xxl {
    font-size: 4em !important;
}

/* ------------------ */

.underline,
.underlines a {
    position: relative;
}
.underline:after,
.underlines a:after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -3px;
    height: 3px;
    content: "";
    display: inline-block;
    border: 1px dashed currentColor;
}
.cta .flex-arrow {
    position: relative;
    margin-left: 25px;
    transform: translate(-15px, 0px);
    transition: all 300ms !important;
}
.cta:hover .flex-arrow {
    transform: translate(0px, 0px);
}
.textured {
    background-image: url(/img/bg/Dots.svg);
}
.vertical-fit-content {
    min-height: min-content !important;
}

/* ------------------ */

.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
@media (max-width: 760px) {
    .sm--wt-auto {
        width: auto;
        width: fit-content;
    }
}
.no-wrap {
    white-space: nowrap;
}
.ring-shadow {
    box-shadow: 0px 0px 20px rgba(50, 0, 100, 0.25);
}
.ring-shadow:hover,
.hover--ring-shadow:hover {
    box-shadow: 0px 0px 0px 10px rgba(50, 0, 100, 0.125);
}
.drop-shadow,
.hover--drop-shadow:hover {
    box-shadow: 0px 0px 2.5px rgba(0,0,0,0.25), 0px 5px 7.5px -2.5px rgba(0,0,0,0.125);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.25);
}
.jelly-peel {
    color: white;
    background: slateblue;
}
.jelly-peel:hover {
    background: slateblue;
}

/* Colors */

.text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.text-gradient-1 {
    background-image: -webkit-linear-gradient(70deg, black, slateblu);
}
.color-1 {
    color: slateblue;
}
.bg-color-1 {
    background-color: slateblue;
}
.border-color-1 {
    border-color: slateblue;
}
.pseudo-color-1:before,
.pseudo-color-1:after {
    color: slateblue;
}
.pseudo-bg-color-1:before,
.pseudo-bg-color-1:after {
    background-color: slateblue;
}
.pseudo-border-color-1:before,
.pseudo-border-color-1:after {
    border-color: slateblue;
}
.text-gradient-2 {
    background-image: -webkit-linear-gradient(70deg, rgb(219, 70, 159), rgb(33, 136, 255));
}
.color-2 {
    color: purple;
}
.bg-color-2 {
    background-color: purple;
}
.border-color-2 {
    border-color: purple;
}
.pseudo-color-2:before,
.pseudo-color-2:after {
    color: purple;
}
.pseudo-bg-color-2:before,
.pseudo-bg-color-2:after {
    background-color: purple;
}
.pseudo-border-color-2:before,
.pseudo-border-color-2:after {
    border-color: purple;
}



/* General overflow-notch */

.overflow-notch {
    white-space: normal;
}
.overflow-notch .overflow-list {
    max-width: 200px;
    color: black;
    background-color: white;
    display: none;
    border: 1px solid silver;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.overflow-notch .overflow-list li:active,
.overflow-notch .overflow-list li.active {
    border-left: 3px solid black;
}
.overflow-notch .overflow-list li:hover {
    background-color: gainsboro;
}
.overflow-notch:focus-within .overflow-list {
    display: block;
}

/**
 * ----------
 * BEGIN LAYOUT
 * ----------
*/

/** ------------- */

.homepage {
    --page-bg: white;
    --page-color: dimgray;
    background-color: var(--page-bg);
}
.page-section {
    color: var(--page-color);
}

.page-header,
.page-section.hero {
    /**
    */
    color: black;
    background-color: ghostwhite;
    border-bottom: 1px dashed gainsboro;
}
.page-header {
}
.page-section.hero {
}
.page-section.showcase .showcase-items {
    height: 100px;
    /**
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    */
    background-color: white;
}

/**
 * ----------
 * BEGIN SECTION
 * ----------
*/

/** ------------- */

.page-section .section-header-left,
.page-section .section-footer-left {
    border-right: 3px solid var(--story-line-color, lightgray);
}
.page-section .section-header-content,
.page-section .section-footer-content {
    position: relative;
    width: 500px;
    max-width: 90%;
    font-size: 2em;
    font-weight: 200;
    transition: all 800ms;
    /**
    opacity: 0.35;
    */
}
@media (max-width: 760px) {
    .page-section .section-header-content,
    .page-section .section-footer-content {
        font-size: 1.9em;
    }
}
.page-section .section-header-content::before {
    position: absolute;
    top: 40px;
    left: -11.5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid var(--page-bg);
    background-color: var(--section-main-a-bg, silver);
    display: inline-block;
    content: "";
    transition: all 800ms;
}
/**
.page-section .section-header-content:hover,
.page-section .section-footer-content:hover,
.page-section:target .section-header-content,
.page-section:target .section-footer-content {
    opacity: 0.7;
}
.page-section .section-header-content:hover::before,
.page-section:target .section-header-content::before {
    opacity: 0.7;
}
*/


/* ------------------- */

.page-section.hero {
    /**
    background-image: url(/img/nimbus-home-platform-bottom-56a511181a4242337a2bf115f8e32d613c081d1ddbf38d3d599826e0f9f7aac1.svg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    */
    --section-main-a-bg: black;
}
.page-section.hero .section-header-left {
    border-right-color: hotpink;
}
.page-section.hero .section-header-content,
.page-section.hero .section-footer-content {
    width: 750px;
    max-width: 95%;
    font-weight: 600;
    opacity: 1;
}
.page-section.hero .section-header-content::before {
    border: 5px solid aliceblue;
    background-color: hotpink;
    transform: scale(1.3);
    opacity: 1;
}
.section-header-tag {
    background-color: gainsboro;
}

/* ------------------- */

.page-section.showcase .showcase-items img {
    height: 40px;
    transition: all 300ms;
 }
 .page-section.showcase .showcase-items img:hover {
    transform: scale(1.3);
 }
.page-section.showcase .section-footer {
    --story-line-color: hotpink;
    height: 50px;
}

/* ------------------- */

.page-section .section-main {
    min-height: 100vh;
}

/* ------------------- */

.page-section .section-main-a {
    background-color: var(--section-main-a-bg);
    color: var(--section-main-a-color);
    border-right: 3px solid var(--section-main-a-border);
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.25);
}
.page-section .section-main-b {
    background-color: var(--section-main-b-bg);
    color: var(--section-main-b-color);
}
.page-section .section-main-a .section-main-header,
.page-section .section-main-a .section-main-padding-header {
    background-color: var(--section-main-a-bg1);
    color: var(--section-main-a-color1);
}
.page-section .section-main-b .section-main-header,
.page-section .section-main-b .section-main-padding-header {
    background-color: var(--section-main-b-bg1);
    color: var(--section-main-b-color1);
}
@media (max-width: 992px) {
    .page-section .section-main-a {
        box-shadow: none;
        z-index: 10;
    }
    .page-section .section-main-b .section-main-header {
        background-color: var(--section-main-a-bg);
        color: var(--section-main-a-color);
        /**
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        */
    }
}
.page-section .section-main-header {
    position: sticky;
    top: 0px;
    font-weight: bold;
    line-height: 60px;
    z-index: 3;
    -wekit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.page-section .section-highlights {
    border-top: 1px dashed silver;
    padding-top: 15px;
}
.page-section .section-desc,
.page-section .section-highlights li {
    margin-bottom: 20px;
}

/* section-nav overflow-notch */

.page-section .section-nav > li {
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 400ms;
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid transparent;
    cursor: default;
}
.page-section .section-nav > li.active {
    color: var(--section-main-b-color-active);
    border-color: currentColor;
}
@media (max-width: 992px) {
    .page-section .section-nav > li {
        /**
        border-top: 1px solid transparent;
        border-bottom: none;
        border-bottom-width: 3px;
        */
        border: 1px dashed transparent;
        border-bottom-style: solid;
    }
    .page-section .section-nav > li.active {
        color: var(--section-main-a-color-active);
        border-color: var(whitesmoke, --section-main-a-color-active);
        border-bottom-color: var(--section-main-a-border);
        /**
        border-bottom-color: currentColor;
        */
    }
}
.page-section .section-nav > .overflow-notch {
    border: 1px dashed transparent;
}
.page-section .section-nav > .overflow-notch:focus {
    border-color: currentColor;
}
.page-section .section-nav > .overflow-notch .overflow-list > li {
    line-height: normal;
    padding: 10px;
    padding-left: 20px;
    padding-right: 25px;
    cursor: default;
}

/** section-panel */

.page-section .section-panel .panel-title,
.page-section .section-panel .panel-desc,
.page-section .section-panel .panel-desc2,
.page-section .section-panel .panel-page {
    margin-top: 10px;
}
.page-section .section-panel .panel-main,
.page-section .section-panel .panel-demo-container,
.page-section .section-panel .panel-meta-container {
    border-top: 1px dashed var(--section-main-b-border);
}
/**
.page-section .section-panel .panel-icon,
.page-section .section-panel .panel-title,*/
.page-section .section-panel .panel-page {
    color: var(--section-main-b-color-active);
}
.page-section .section-panel .panel-page {
    background-color: var(--section-main-b-bg-active);
    border-color: var(--section-main-b-color-active);
}
.page-section .section-panel .panel-demo,
.page-section .section-panel .panel-meta {
    min-height: 100px;
}

/* ------------------- */


.hero-links li:not(:last-of-type) a {
    background-color: white;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.hero-links li:nth-of-type(1) a:hover {
    background-color: #800080;
    color: white;
}
.hero-links li:nth-of-type(2) a:hover {
    background-color: #8a2be2;
    color: white;
}
.hero-links li:nth-of-type(3) a:hover {
    background-color: #2960c7;
    color: white;
}

/* ------------------- */

#tooling-section {
    --story-line-color: #f77bf7;
    --section-main-a-bg: #800080;
    --section-main-a-color: gainsboro;
    --section-main-a-color-active: white;
    --section-main-a-border: blueviolet;
    --section-main-a-bg2: rgba(5, 2, 2, 0.25);
    --section-main-a-color2: white;
    
    --section-main-b-bg: #faebfa;
    --section-main-b-color: black;
    --section-main-b-bg-active: transparent;
    --section-main-b-color-active: blueviolet;
    --section-main-b-border: silver;
    --section-main-b-bg2: rgba(100, 100, 100, 0.125);
    --section-main-b-color2: white;
}
#cloud-section {
    --story-line-color: #cca0f5;
    --section-main-a-bg: #8a2be2;
    --section-main-a-color: whitesmoke;
    --section-main-a-color-active: white;
    --section-main-a-border: dodgerblue;
    --section-main-a-bg2: rgba(5, 2, 2, 0.25);
    --section-main-a-color2: white;
    
    --section-main-b-bg: #f1e9fa;
    --section-main-b-color: black;
    --section-main-b-bg-active: transparent;
    --section-main-b-color-active: dodgerblue;
    --section-main-b-border: silver;
    --section-main-b-bg2: rgba(100, 100, 100, 0.125);
    --section-main-b-color2: white;
}
#community-section {
    --story-line-color: #8eb4fa;
    --section-main-a-bg: #366ed4;
    --section-main-a-color: whitesmoke;
    --section-main-a-color-active: white;
    --section-main-a-border: deeppink;
    --section-main-a-bg2: rgba(5, 2, 2, 0.25);
    --section-main-a-color2: white;
    
    --section-main-b-bg: #ebf1fa;
    --section-main-b-color: black;
    --section-main-b-bg-active: transparent;
    --section-main-b-color-active: deeppink;
    --section-main-b-border: silver;
    --section-main-b-bg2: rgba(100, 100, 100, 0.125);
    --section-main-b-color2: white;
}


/**
 * ----------
 * BEGIN ANIMATIONS
 * ----------
*/

.alternating-text-a,
.alternating-text-b {
    animation: webqit-intro-alt 10000ms forwards;
    animation-iteration-count: infinite;
    overflow: hidden;
    display: block;
}
.alternating-text-b {
    animation-delay: 5000ms;
}



.circus li[data-active="true"] {
    animation: zoom-in 400ms forwards;
    z-index: 1;
}
.circus li[data-active="false"] {
    animation: zoom-in-off 400ms forwards;
    pointer-events: none;
    z-index: 10;
}
.circus li[data-active="true-reverse"] {
    animation: zoom-out 400ms forwards;
    z-index: 10;
}
.circus li[data-active="false-reverse"] {
    animation: zoom-out-off 400ms forwards;
    pointer-events: none;
    z-index: 1;
}
@keyframes webqit-intro-alt {
    0% {opacity: 0; height: inherit;}
    5% {opacity: 1; height: inherit;}
    45% {opacity: 1; height: inherit;}
    49% {opacity: 0.5; height: 0px;}
    100% {opacity: 0; height: 0px;}
}
@keyframes fade-in {
    from {opacity: 0.5;}
    to {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes zoom-in {
    from {transform: scale(0.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes zoom-in-off {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(1.5); opacity: 0;}
}
@keyframes zoom-out {
    from {transform: scale(1.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes zoom-out-off {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(0.5); opacity: 0;}
}



[dramatic-circularprogress] .progressbar-indicator {
	stroke-dashoffset: 0;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-width: 0.175em;
}
[dramatic-circularprogress][viewBox~="18"] .progressbar-indicator {
	stroke-dasharray: 1, 50;
}
[dramatic-circularprogress][viewBox~="24"] .progressbar-indicator {
	stroke-dasharray: 1, 63;
}
[dramatic-circularprogress][viewBox~="36"] .progressbar-indicator {
	stroke-dasharray: 1, 94;
}
[dramatic-circularprogress][viewBox~="48"] .progressbar-indicator {
	stroke-dasharray: 1, 126;
}

[dramatic-circularprogress][indeterminate] {
	-webkit-animation: circular-indeterminate-rotate 2s linear infinite;
	animation: circular-indeterminate-rotate 1.5s linear infinite;
	z-index: 2;
}
[dramatic-circularprogress][indeterminate][viewBox~="18"] .progressbar-indicator {
	animation: circular-indeterminate-18-dash 1.125s ease-in-out infinite;
}
[dramatic-circularprogress][indeterminate][viewBox~="24"] .progressbar-indicator {
	animation: circular-indeterminate-24-dash 1.125s ease-in-out infinite;
}
[dramatic-circularprogress][indeterminate][viewBox~="36"] .progressbar-indicator {
	animation: circular-indeterminate-36-dash 1.125s ease-in-out infinite;
}
[dramatic-circularprogress][indeterminate][viewBox~="48"] .progressbar-indicator {
	animation: circular-indeterminate-48-dash 1.125s ease-in-out infinite;
}

/* ---------------------------------------- */

[dramatic-linearprogress] {
	height: 2px;
}
[dramatic-linearprogress] .progressbar-indicator-a,
[dramatic-linearprogress] .progressbar-indicator-b {
	position: absolute;
	background-color: currentColor;
}
[dramatic-linearprogress][indeterminate] .progressbar-indicator-a,
[dramatic-linearprogress][indeterminate] .progressbar-indicator-b {
	top: 0;
	left: 0;
	bottom: 0;
    width: auto;
	-webkit-animation: linear-indeterminate-a 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: linear-indeterminate-a 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
[dramatic-linearprogress][indeterminate] .progressbar-indicator-b {
	-webkit-animation-name: linear-indeterminate-b;
    animation-name: linear-indeterminate-b;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

/*
 * ---------
 * CIRCULAR-INDETERMINATE
 * ---------
 */

@-webkit-keyframes circular-indeterminate-rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes circular-indeterminate-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes circular-indeterminate-18-dash {
	0% {
		stroke-dasharray: 1, 50;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 30, 50;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 30, 50;
		stroke-dashoffset: -44;
	}
}
@keyframes circular-indeterminate-24-dash {
	0% {
		stroke-dasharray: 1, 63;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 30, 63;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 30, 63;
		stroke-dashoffset: -44;
	}
}
@keyframes circular-indeterminate-36-dash {
	0% {
		stroke-dasharray: 1, 94;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 40, 94;
		stroke-dashoffset: -45;
	}
	100% {
		stroke-dasharray: 40, 94;
		stroke-dashoffset: -54;
	}
}
@keyframes circular-indeterminate-48-dash {
	0% {
		stroke-dasharray: 1, 126;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 60, 126;
		stroke-dashoffset: -75;
	}
	100% {
		stroke-dasharray: 60, 126;
		stroke-dashoffset: -120;
	}
}

/*
 * ---------
 * LINEAR-INDETERMINATE
 * ---------
 */

@keyframes linear-indeterminate-a {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@keyframes linear-indeterminate-b {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}

/*
 * ---------
 * RIPPLE
 * ---------
 */

@keyframes ripple {
	0% {
		opacity: 0;
	} 25% {
		opacity: 1;
	} 100% {
      	width: 350%;
      	padding-bottom: 350%;
		opacity: 0;
	}
}

