
/**
 * - 1200px
 * - 992px
 * - 760px
 */

 @font-face {
    font-family: 'League Spartan';
    src: url('fonts/league-spartan/league-spartan-master/webfonts/leaguespartan-bold.eot');
    src: url('fonts/league-spartan/league-spartan-master/webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/league-spartan/league-spartan-master/webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/league-spartan/league-spartan-master/webfonts/leaguespartan-bold.woff') format('woff'),
         url('fonts/league-spartan/league-spartan-master/webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('fonts/league-spartan/league-spartan-master/webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


html.scroll-reset {
    scroll-behavior: unset;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* ------------------ */

.snap-container {
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y proximity;
}
.snap-mandatory-container {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}
.snaps-to-start {
    scroll-snap-align: start;
}
.snaps-to-end {
    scroll-snap-align: end;
}
.snaps-to-center {
    scroll-snap-align: center;
}

/* ------------------ */

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
[id] {
    scroll-margin-top: 100px;
}
.hero-text,
.hero-font {
    font-family: Whitney, sans-serif !important;
    font-weight: 500 !important;
}
.hero-text {
    font-size: 2.4rem !important;
    font-weight: bold !important;
}
@media (max-width: 640px) {
    .hero-text {
        font-size: 2.2rem;
    }
}
.legend-text,
.legend-font,
.cta {
    font-family: Whitney, sans-serif;
    line-height: 1.5;
}
.legend-text {
    font-size: 26px !important;;
}
p, .p,
.content-font {
    font-family: Roboto, 'Noto Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    font-stretch: normal;
}
.vertical-fit-content {
    min-height: min-content !important;
}

/* ------------------ */

.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
@media (max-width: 760px) {
    .sm--wt-auto {
        width: auto;
        width: fit-content;
    }
}
.no-wrap {
    white-space: nowrap;
}
@media (max-width: 760px) {
    .breadcrumb.reflowing {
        overflow: hidden;
    }
    .breadcrumb.reflowing > ul > li:nth-child(n+3) {
        opacity: 0.15;
        filter: blur(2px);
    }
}

.drop-shadow {
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

/* ------------------ */

.bi {
    font-size: 2em !important;
}
[class^="bi-"]::before, [class*=" bi-"]::before {
    vertical-align: unset !important;
    font-weight: inherit !important;
}
.bi.xs {
    font-size: 1em !important;
}
.bi.sm {
    font-size: 1.5em !important;
}
.bi.md {
    font-size: 2em !important;
}
.bi.lg {
    font-size: 3em !important;
}
.bi.xl {
    font-size: 3.5em !important;
}
.bi.xxl {
    font-size: 4em !important;
}
@media (max-width: 992px) {
    .bi.md--xs {
        font-size: 1em !important;
    }
    .bi.md--sm {
        font-size: 1.5em !important;
    }
    .bi.md--md {
        font-size: 2em !important;
    }
    .bi.md--lg {
        font-size: 3em !important;
    }
    .bi.md--xl {
        font-size: 3.5em !important;
    }
    .bi.md--xxl {
        font-size: 4em !important;
    }
}
@media (max-width: 760px) {
    .bi.sm--xs {
        font-size: 1em !important;
    }
    .bi.sm--sm {
        font-size: 1.5em !important;
    }
    .bi.sm--md {
        font-size: 2em !important;
    }
    .bi.sm--lg {
        font-size: 3em !important;
    }
    .bi.sm--xl {
        font-size: 3.5em !important;
    }
    .bi.sm--xxl {
        font-size: 4em !important;
    }
}

/* Colors */

.text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

/* -------- */

.color-1 {
    color: slateblue;
}
.bg-color-1 {
    background-color: slateblue;
}
.border-color-1 {
    border-color: slateblue;
}
.pseudo-color-1:before,
.pseudo-color-1:after {
    color: slateblue;
}
.pseudo-bg-color-1:before,
.pseudo-bg-color-1:after {
    background-color: slateblue;
}
.pseudo-border-color-1:before,
.pseudo-border-color-1:after {
    border-color: slateblue;
}
.text-gradient-1 {
    background-image: -webkit-linear-gradient(70deg, rgb(33, 136, 255), rgb(219, 70, 159));
}
/* -------- */
.color-2 {
    color: mediumslateblue;
}
.bg-color-2 {
    background-color: mediumslateblue;
}
.border-color-2 {
    border-color: mediumslateblue;
}
.pseudo-color-2:before,
.pseudo-color-2:after {
    color: mediumslateblue;
}
.pseudo-bg-color-2:before,
.pseudo-bg-color-2:after {
    background-color: mediumslateblue;
}
.pseudo-border-color-2:before,
.pseudo-border-color-2:after {
    border-color: mediumslateblue;
}
.text-gradient-2 {
    background-image: -webkit-linear-gradient(70deg, lime, hotpink);
}

/* General overflow-notch */

.overflow-notch {
    white-space: normal;
}
.overflow-notch .overflow-list {
    max-width: 200px;
    color: black;
    background-color: white;
    display: none;
    border: 1px solid silver;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.overflow-notch .overflow-list li:active,
.overflow-notch .overflow-list li.active {
    border-left: 3px solid black;
}
.overflow-notch .overflow-list li:hover {
    background-color: gainsboro;
}
.overflow-notch:focus-within .overflow-list {
    display: block;
}

/**
 * ----------
 * BEGIN CUSTOM STYLING
 * ----------
*/

h1 span {
    line-height: 120%;
    line-height: 100%;
    white-space: nowrap;
}
h1 .text-gradient {
    font-size: 86px;
    line-height: 100%;
    font-weight: bold;
    border-bottom: 4px solid mediumslateblue;
}
h1 .text-gradient + span {
    line-height: 200%;
    border-bottom: 3px solid gray;
    padding-bottom: 10px;
}
@media (max-width: 640px) {
    h1 span:only-child {
        white-space: normal;
    }
    h1 .text-gradient {
        font-size: 64px;
    }
}

/* ---------- */

.menu-panel {
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-panel + .menu-panel {
    margin-top: 26px;
    border-top: 1px dashed gray;
}
.menu-panel li.active {
    background-color: whitesmoke;
    border-right: 2px solid black;
}
.menu-bar + .menu-bar {
    margin-left: 26px;
    border-left: 1px dashed gray;
}
.menu-bar li {
    padding: 20px;
    padding-left: 13px;
    padding-right: 13px;
    vertical-align: baseline;
}
.menu-bar li.active {
    border-bottom: 2px solid black;
}

/* ---------- */

.quickstart .directive-container {
    max-width: 50%;
    border-left: 5px solid black;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px -5px black;
}
.quickstart .cta {
    color: blueviolet;
    text-decoration: none !important;
    font-size: larger;
}
.quickstart .cta:active {
    background-color: lavender;
}
.additional-readme .quickstart {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 50%;
}
@media (max-width: 640px) {
    .additional-readme .quickstart {
        max-width: none;
    }
    .quickstart .directive-container {
        border-left-color:silver;
    }
}

/* ---------- */

.layout-section,
.box-padded-layout-section,
.horz-padded-layout-section,
.vert-padded-layout-section {
    max-width: 1300px;
    margin: auto;
}
.box-padded-layout-section,
.horz-padded-layout-section,
.box-padded-section,
.horz-padded-section {
    padding-left: 65px;
    padding-right: 65px;
}
.box-padded-layout-section,
.vert-padded-layout-section,
.box-padded-section,
.vert-padded-section {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
}
/* ---------- */
.box-padded-layout-section a,
.horz-padded-layout-section a,
.vert-padded-layout-section a,
.box-padded-section a {
    color: mediumslateblue;
}
.section-desc {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* ---------- */
/*
#hero .section-desc {
    width:110%;
}
*/
#hero::before {
    position: absolute;
    top: 105px;
    left: 0px;
    width: 65px;
    content: "";
    display: inline-block;
    border-top: 3px solid black;
}
.hero-nav-item a {
    width: 60px;
    height: 60px;
    border-color: silver;
}
.hero-nav.with-separator .hero-nav-item + .hero-nav-item::before,
.hero-nav-play-separator::before {
    position: relative;
    top: 0px;
    left: 30px;
    height: 20px;
    content: "";
    display: block;
    border-left: 1px solid gray;
    border-right: none !important;
}
.hero-nav-play-separator::before {
    position: absolute;
    height: 100%;
    border-left-style: dashed;
}
@media (max-width: 640px) {
    .hero-nav.with-separator .hero-nav-item + .hero-nav-item::before,
    .hero-nav-play-separator::before {
        width: 20px;
        height: 0px;
        top: 30px;
        left: 0px;
        border-top: 1px solid gray;
        border-bottom: none !important;
    }
    .hero-nav-play-separator::before {
        width: 100%;
        border-top-style: dashed;
    }
}
/* ---------- */
#showcase {
    border-top: 1px solid silver;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(7, 1fr);
}
#showcase .logo {
    max-height: 24px;
}
@media (max-width: 1100px) {
    #showcase {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 640px) {
    #showcase {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* ---------- */
@media (max-width: 1100px) {
    .box-padded-layout-section,
    .horz-padded-layout-section,
    .box-padded-section {
        padding-left: 45px;
        padding-right: 45px;
    }
    .box-padded-layout-section,
    .box-padded-section {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    #hero,
    #showcase {
        padding-left: 35px;
        padding-right: 35px;
    }
    #hero .section-desc {
        width:100%;
    }
    #hero::before {
        width: 35px;
    }
}
@media (max-width: 640px) {
    #hero,
    #showcase {
        padding-left: 25px;
        padding-right: 25px;
    }
    #hero::before {
        width: 25px;
    }
}
/* ---------- */
.domain-block {
    background-color: var(--theme-bg);
    border-radius: 10px;
    margin-bottom: 80px;
    overflow: hidden;
}
.domain-block:last-of-type() {
}
#domain--tooling, #route--tooling {
    --theme-bg: #DCEAFF;
    --theme-bg2: #c7deff;
}
#domain--cloud, #route--cloud {
    --theme-bg: #DAD7FF;
    --theme-bg2: #c9c5ff;
}
#domain--community, #route--community {
    --theme-bg: #EEDDFF;
    --theme-bg2: #e3c7ff;
}
.domain-block .grid-2 .project-item {
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    transition: all 600ms;
}
.domain-block .grid-2 .project-item:hover {
    background-color: var(--theme-bg2);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.8);
}
.domain-block .cta {
    transition: background-color 600ms;
}
.domain-block .cta:hover {
    background-color: var(--theme-bg2);
}
.domain-block .project-item .cta:hover {
    background-color: white;
}



.grid-2 {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
}
@media (max-width: 640px) {
    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}
.grid-4 {
    display: grid;
    grid-gap: 25px;
    grid-column-gap: 75px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
}
@media (max-width: 1100px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 640px) {
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ---------- */

.additional-readme {
    margin-bottom: 30px;
    /**
    background-color: whitesmoke;
    background-color: var(--theme-bg);
    */
    border: 1px solid silver;
}
.main-project-readme {
    margin-top: 0px;
}
.markdown-body img {
    border-radius: 6px;
}

/* ---------- */

.project-category {
    background-color: var(--theme-bg);
    background-color: whitesmoke;
    transition: background-color 600ms;
    /**
    border: 1px solid silver;
    */
}
.project-listing {
    display: grid;
    font-family: whitney, sans-serif;
}
.project-category .project-listing {
    grid-row-gap: 40px;
}

.subitem-icon {
    position: relative;
}
.subitem-icon::before {
    z-index: 1;
}
.subitem-icon::after {
    position: absolute;
    display: block;
    content: "";
    top: 0px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--theme-bg2, lavender);
}


/*
 * ---------
 * BEGIN ANIMATIONS
 * ---------
 */

.alternating-text-a,
.alternating-text-b {
    animation: webqit-intro-alt 10000ms forwards;
    animation-iteration-count: infinite;
    overflow: hidden;
    display: block;
}
.alternating-text-b {
    animation-delay: 5000ms;
}

/* ------------- */

.circus li[data-active="true"] {
    animation: zoom-in 400ms forwards;
    z-index: 1;
}
.circus li[data-active="false"] {
    animation: zoom-in-off 400ms forwards;
    pointer-events: none;
    z-index: 10;
}
.circus li[data-active="true-reverse"] {
    animation: zoom-out 400ms forwards;
    z-index: 10;
}
.circus li[data-active="false-reverse"] {
    animation: zoom-out-off 400ms forwards;
    pointer-events: none;
    z-index: 1;
}
@keyframes webqit-intro-alt {
    0% {opacity: 0; height: inherit;}
    5% {opacity: 1; height: inherit;}
    45% {opacity: 1; height: inherit;}
    49% {opacity: 0.5; height: 0px;}
    100% {opacity: 0; height: 0px;}
}
@keyframes fade-in {
    from {opacity: 0.5;}
    to {opacity: 1;}
}
@keyframes fade-out {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes zoom-in {
    from {transform: scale(0.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes zoom-in-off {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(1.5); opacity: 0;}
}
@keyframes zoom-out {
    from {transform: scale(1.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes zoom-out-off {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(0.5); opacity: 0;}
}

/* ------------- */

[dramatic-circularprogress] .progressbar-indicator {
	stroke-dashoffset: 0;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-width: 0.175em;
}
[dramatic-circularprogress][viewBox~="18"] .progressbar-indicator {
	stroke-dasharray: 1, 50;
}
[dramatic-circularprogress][viewBox~="24"] .progressbar-indicator {
	stroke-dasharray: 1, 63;
}
[dramatic-circularprogress][viewBox~="36"] .progressbar-indicator {
	stroke-dasharray: 1, 94;
}
[dramatic-circularprogress][viewBox~="48"] .progressbar-indicator {
	stroke-dasharray: 1, 126;
}

[dramatic-circularprogress][indeterminate] {
	-webkit-animation: circular-indeterminate-rotate 2s linear infinite;
	animation: circular-indeterminate-rotate 1.5s linear infinite;
	z-index: 2;
}
[dramatic-circularprogress][indeterminate][viewBox~="18"] .progressbar-indicator {
	animation: circular-indeterminate-18-dash 1.125s ease-in-out infinite;
}
[dramatic-circularprogress][indeterminate][viewBox~="24"] .progressbar-indicator {
	animation: circular-indeterminate-24-dash 1.125s ease-in-out infinite;
}
[dramatic-circularprogress][indeterminate][viewBox~="36"] .progressbar-indicator {
	animation: circular-indeterminate-36-dash 1.125s ease-in-out infinite;
}
[dramatic-circularprogress][indeterminate][viewBox~="48"] .progressbar-indicator {
	animation: circular-indeterminate-48-dash 1.125s ease-in-out infinite;
}

/* ------------- */

[dramatic-linearprogress] {
	height: 2px;
}
[dramatic-linearprogress] .progressbar-indicator-a,
[dramatic-linearprogress] .progressbar-indicator-b {
	position: absolute;
	background-color: currentColor;
}
[dramatic-linearprogress][indeterminate] .progressbar-indicator-a,
[dramatic-linearprogress][indeterminate] .progressbar-indicator-b {
	top: 0;
	left: 0;
	bottom: 0;
    width: auto;
	-webkit-animation: linear-indeterminate-a 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: linear-indeterminate-a 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
[dramatic-linearprogress][indeterminate] .progressbar-indicator-b {
	-webkit-animation-name: linear-indeterminate-b;
    animation-name: linear-indeterminate-b;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

/*
 * ---------
 * CIRCULAR-INDETERMINATE
 * ---------
 */

@-webkit-keyframes circular-indeterminate-rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes circular-indeterminate-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes circular-indeterminate-18-dash {
	0% {
		stroke-dasharray: 1, 50;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 30, 50;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 30, 50;
		stroke-dashoffset: -44;
	}
}
@keyframes circular-indeterminate-24-dash {
	0% {
		stroke-dasharray: 1, 63;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 30, 63;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 30, 63;
		stroke-dashoffset: -44;
	}
}
@keyframes circular-indeterminate-36-dash {
	0% {
		stroke-dasharray: 1, 94;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 40, 94;
		stroke-dashoffset: -45;
	}
	100% {
		stroke-dasharray: 40, 94;
		stroke-dashoffset: -54;
	}
}
@keyframes circular-indeterminate-48-dash {
	0% {
		stroke-dasharray: 1, 126;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 60, 126;
		stroke-dashoffset: -75;
	}
	100% {
		stroke-dasharray: 60, 126;
		stroke-dashoffset: -120;
	}
}

/*
 * ---------
 * LINEAR-INDETERMINATE
 * ---------
 */

@keyframes linear-indeterminate-a {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
@keyframes linear-indeterminate-b {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}

/*
 * ---------
 * RIPPLE
 * ---------
 */

@keyframes ripple {
	0% {
		opacity: 0;
	} 25% {
		opacity: 1;
	} 100% {
      	width: 350%;
      	padding-bottom: 350%;
		opacity: 0;
	}
}


