
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
}
.markdown-body h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.markdown-body a {
    color: darkblue;
}


/**
 * @breakpoints
 * xl: 1200px
 * lg: 992px
 * sm: 768px
 */



/*
:is(.project-outline, .page-outline) li > .item-bar > a > span {
    border-bottom: 1px dashed transparent;
}
:is(.project-outline, .page-outline) li > .item-bar > .subtree-notch:hover,
:is(.project-outline, .page-outline) li.active > .item-bar > .subtree-notch {
    background-color: black;
}
:is(.project-outline, .page-outline) li > .item-bar > a:hover > span,
:is(.project-outline, .page-outline) li > .item-bar.active > a > span {
    color: mediumslateblue;
    border-bottom-color: currentColor;
}
*/


