
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
}
.markdown-body a {
    color: darkblue;
}

/**
 * @breakpoints
 * xl: 1200px
 * lg: 992px
 * sm: 768px
 */

.project-outline,
.page-outline {
    color: black;
}
.project-suboutline,
.page-suboutline {
    margin-left: 10px;
    border-left: 1px dashed gray;
}
/* ------------------------ */

:is(.project-outline, .page-outline) li .subtree-notch {
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}
:is(.project-outline, .page-outline) li > .item-bar > .subtree-notch,
:is(.project-outline, .page-outline) li > .item-bar > a {
    padding-top: 6px;
    padding-bottom: 6px;
}
.project-outline li a .bi {
    padding-left: 6px;
    padding-right: 6px;
}

/* ------------------------ */

/*
:is(.project-outline, .page-outline) li > .item-bar > a > span {
    border-bottom: 1px dashed transparent;
}
:is(.project-outline, .page-outline) li > .item-bar > .subtree-notch:hover,
:is(.project-outline, .page-outline) li.active > .item-bar > .subtree-notch {
    background-color: black;
}
:is(.project-outline, .page-outline) li > .item-bar > a:hover > span,
:is(.project-outline, .page-outline) li > .item-bar.active > a > span {
    color: mediumslateblue;
    border-bottom-color: currentColor;
}
*/
:is(.project-outline, .page-outline) li > .item-bar > .subtree-notch.cursor-pointer:hover,
:is(.project-outline, .page-outline) li.active > .item-bar > .subtree-notch.cursor-pointer {
    text-shadow: 0px 0px 10px black;
}
:is(.project-outline, .page-outline) li > .item-bar:hover ,
:is(.project-outline, .page-outline) li > .item-bar.active {
    background-color: whitesmoke;
}
:is(.project-outline, .page-outline) li > .item-bar.active {
    color: slateblue;
    text-shadow: 0px 0px 1px darkslateblue;
    background-color: var(--theme-bg);
}

/* ------------------------ */

.readme-footer {
    background-color: white;
}

/* ------------------------ */

.markdown-body:not(.additional-readme) {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 992px) {
    .markdown-body:not(.additional-readme) {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
/**
.markdown-body .highlight pre,
.markdown-body pre {
    background-color: lavender !important;
}
.markdown-body blockquote {
    border-left-color: silver !important;
}
*/
