<div namespace class="route-cloud" exportgroup="index">

    <script type="subscript">
        if (this.namespace.hero) {
            this.namespace.hero.setState({
                title: ['The cloud for', 'web-native', 'development.'],
                desc: 'Build modern magic using plain web languages and conventional paradigms!',
                cta: {text: 'Get Started', href: '#',},
                nav: [{
                    href: '#',
                    icon: 'cloud',
                }],
                play: '#',
            });
        }
        this.namespace.main.setState({items: [{
            title: 'Runtime',
            desc: 'Runtime',
            items: [{
                icon: 'app-indicator',
                title: 'Webflo Runtime',
                desc: 'The universal JavaScript framework for Web, Mobile, and API Backends; one tool for every step of the way - from development, to deployment, to continous delivery.',
                desc2: '',
                ctaRef: '/cloud/webflo-runtime',
                cta: 'Get started for free',
            }],
        }, {
            title: 'Database',
            desc: 'Database',
            items: [{
                icon: 'layers',
                title: 'Objective DB',
                desc: 'Fullstack, object-oriented SQL for modern apps; one language and one API over diverse data storage technologies - from in-memory storage, to the client-side IndexedDB, to the server-side database like MySQL.',
                desc2: '',
                ctaRef: '/cloud/objective-db',
                cta: 'Get started for free',
            }],
        }]});
    </script>

    <html-import data-id="hero" id="hero" name="type1" template="#layout/hero"></html-import>
    <html-import data-id="showcase" id="showcase" name="container" template="#layout/showcase"></html-import>
    <html-import data-id="main" id="main" name="container" template="#layout/large-grid-2" class="layout-section"></html-import>
    <html-import name="readme" class="box-padded-layout-section"></html-import>
    
</div>